In [1]:
dataset = {
    'models': ['BMW', 'Volvo', 'Ford'],
    'rating': [3, 7, 2],
    'price': [200, 150, 80]
}

dataset

{'models': ['BMW', 'Volvo', 'Ford'],
 'rating': [3, 7, 2],
 'price': [200, 150, 80]}

In [2]:
import json

In [3]:
with open('cars.json', 'w') as f:
  f.write(json.dumps(dataset))

In [4]:
!hexdump -C cars.json

'hexdump' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
with open('cars.json', 'r') as file2:
  dataset_copy = json.loads(file2.read())
dataset_copy

{'models': ['BMW', 'Volvo', 'Ford'],
 'rating': [3, 7, 2],
 'price': [200, 150, 80]}

In [6]:
import pickle as pk

In [7]:
with open('cars.bin', 'wb') as f3:
  f3.write(pk.dumps(dataset))

In [8]:
with open('cars.bin', 'rb') as f4:
  dataset_copy_2 = pk.loads(f4.read())

dataset_copy_2

{'models': ['BMW', 'Volvo', 'Ford'],
 'rating': [3, 7, 2],
 'price': [200, 150, 80]}

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(dataset)

In [11]:
df.to_csv('cars.csv', index=False)

In [12]:
df_copy = pd.read_csv('cars.csv')
df_copy

  models  rating  price
0    BMW       3    200
1  Volvo       7    150
2   Ford       2     80

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   models  3 non-null      object
 1   rating  3 non-null      int64
 2   price   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [14]:
for i in range(df.shape[0]):
  print(df.iloc[i])

models    BMW
rating      3
price     200
Name: 0, dtype: object
models    Volvo
rating        7
price       150
Name: 1, dtype: object
models    Ford
rating       2
price       80
Name: 2, dtype: object

In [15]:
for col in df.columns:
  print(df[col])

0      BMW
1    Volvo
2     Ford
Name: models, dtype: object
0    3
1    7
2    2
Name: rating, dtype: int64
0    200
1    150
2     80
Name: price, dtype: int64

In [17]:
df['normalized_Ratings'] = 1000 * df['rating'] / df['price']
df

  models  rating  price  normalized_Ratings
0    BMW       3    200           15.000000
1  Volvo       7    150           46.666667
2   Ford       2     80           25.000000

# Numpy and matplotlib