In [3]:
3+4

7

In [4]:
while true: a=10

NameError: name 'true' is not defined

In [5]:
3+4

7

In [6]:
while true: a=10

NameError: name 'true' is not defined

In [7]:
counter = 100
miles = 1000.0
name = "Ashish"

print (counter)
print (miles)
print (name)

100
1000.0
Ashish

In [8]:
counter = 100
miles = 1000.0
name = "Ashish"

print (2*counter)
print (2*miles)
print (2*name)

200
2000.0
AshishAshish

In [9]:
a=10
b=20
print('a+b =', a+b)
print('a-b =', a-b)
print('a*b =', a*b)
print('a%b =', a%b)

a+b = 30
a-b = -10
a*b = 200
a%b = 10

In [10]:
print('T and T =', True and True)
print('T and F =', True and False)
print('F and F =', False and False)
print()
print('T or T =', True or True)
print('T or F =', True or False)
print('F or !F =', False or not False)

T and T = True
T and F = False
F and F = False

T or T = True
T or F = True
F or !F = True

In [11]:
def subtract(a,b):
    return a-b

print('print 3-4:',subtract(3,4))
print('print 4-3:',subtract(b=3,a=4))

print 3-4: -1
print 4-3: 1

In [12]:
def cube(x):
    return x*x*x
print('cube of 5 =',
     cube(5))

cube of 5 = 125

In [13]:
def cube(x):
    return x**3
print('cube of 5 =',
     cube(5))

cube of 5 = 125

In [14]:
def sign(x):
    if x<0:
        print(x, 'is neg')
    elif x==0:
        print(x, 'is 0')
    else:
        print(x, 'is pos')
sign(-6)
sign(6)
sign(0)

-6 is neg
6 is pos
0 is 0

In [15]:
def count(n):
    for i in range(1,n+1):
        print(i)
print('Counting till 10')
count(10)

Counting till 10
1
2
3
4
5
6
7
8
9
10

In [16]:
def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans = ans*i
        return ans

In [17]:
def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans = ans*i
        return ans
print('Factorial of 10 is:', factorial(10))

Factorial of 10 is: 1

In [18]:
def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans = ans*i
    return ans
print('Factorial of 10 is:', factorial(10))

Factorial of 10 is: 3628800

In [19]:
p=1

In [20]:
p=1
while p<=10:
    print(p)
    p+=1

1
2
3
4
5
6
7
8
9
10

In [21]:
counter = 100
miles = 1000.0
name = "Ashish"
print(counter)
print(miles)
print(name)

100
1000.0
Ashish

In [22]:
a,b,c = 1,2,"Ashish"
var1 = 1
var2 = 10
del var1, var2

In [23]:
str="Ashish"
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str * 2)
print(str+"TEST")

Ashish
A
his
hish
AshishAshish
AshishTEST

In [24]:
str="Ashish"
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str * 2)
print(str+" "+"TEST")

Ashish
A
his
hish
AshishAshish
Ashish TEST

In [25]:
a=10
b=20
sum=a+b
print(sum)
subtract=a-b
print(subtract)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
mod=a%b
print(mod)

30
-10
200
0.5
10

In [26]:
# Odd & Even Code
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 2
2 is Even

In [27]:
str="I AM IN KIIT"
print(str[8:12])

KIIT

In [29]:
# num = 19

# To take input from the user
num = int(input("Enter a number: "))

# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

    # check if flag is True
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 5
5 is a prime number

In [30]:

num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 5
5 is not an Armstrong number